version: '3.8'
services:

  localstack:
    image: bitnami/kubectl:1.22
    entrypoint: "/entrypoint.sh"
    depends_on:
      - k3s-server
    volumes:
      - kubeconfig:/output
      - ./dockerfiles/localstack/deployment.yaml:/deployment.yaml
      - ./dockerfiles/localstack/service.yaml:/service.yaml
      - ./dockerfiles/localstack/entrypoint.sh:/entrypoint.sh
    profiles: ["it"]

  k3s-server:
    image: rancher/k3s:v1.21.8-k3s2
    command: server
    #--disable-agent
    environment:
      - K3S_CLUSTER_SECRET=somethingtotallyrandom
      - K3S_KUBECONFIG_OUTPUT=/output/kubeconfig.yaml
      - K3S_KUBECONFIG_MODE=666
      - AWS_DEFAULT_REGION=eu-central-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    privileged: true
    volumes:
      - kubeconfig:/output
    ports:
      - 6443:6443
      - 8080:8080
      - 443:443
      - 5432:30432 # maps internal postgres as external for E2E tests
      - 4566:4566
    profiles: ["it"]

#  postgres:
#    image: bitnami/kubectl:1.22
#    entrypoint: "/entrypoint.sh"
#    volumes:
#      - kubeconfig:/output
#      - ./postgres/deployment.yaml:/deployment.yaml
#      - ./postgres/service.yaml:/service.yaml
#      - ./postgres/entrypoint.sh:/entrypoint.sh
#    depends_on:
#      - k3s-server
#    profiles: ["all", "backend", "infra", "ci", "it"]

#  web-app:
#    build:
#      dockerfile: dockerfiles/web-app/Dockerfile
#      context: .
#      args:
#        - ENVIRONMENT=dev
#    environment:
#      - ENV=dev
#    ports:
#      - 8080:8080
#    depends_on:
#      - k3s-server
#    profiles: ["all", "ci"]

volumes:
  kubeconfig: {}
  aws: {}